<!DOCTYPE html>

<html>

  <body>
    <div class="message-group-label-wrapper">
      <div class="message-group-label" id="cl-date-label">Saturday, December 4th</div>
    </div>
    <div class="message-group">
      <div class="message-compact">
        <p class="message-time">1:15 PM</p>
        <div class="message-text">
          <p class="message-name">charlie 🌳🛶</p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et dolore magna aliqua.
        </div>
      </div>
      <div class="message-compact">
        <p class="message-time">1:16 PM</p>
        <div class="message-text">
          <p class="message-name">charlie 🌳🛶</p>
          Viverra adipiscing at in tellus integer. Est ultricies integer quis auctor. Quam viverra orci
          sagittis eu volutpat odio
          facilisis mauris sit. Ultrices neque ornare aenean euismod elementum nisi quis. Diam maecenas
          ultricies mi eget mauris.
          Purus faucibus ornare suspendisse sed nisi lacus sed viverra. Malesuada proin libero nunc consequat.
        </div>
      </div>
      <div class="message-compact">
        <p class="message-time">1:19 PM</p>
        <div class="message-text">
          <p class="message-name">charlie 🌳🛶</p>
          Dignissim cras tincidunt lobortis feugiat vivamus. Interdum velit euismod in pellentesque massa
          placerat duis ultricies.
          Semper auctor neque vitae tempus quam pellentesque nec nam aliquam. Tempor orci eu lobortis
          elementum nibh tellus
          molestie nunc non. Nunc congue nisi vitae suscipit tellus mauris a. Tincidunt ornare massa eget
          egestas purus viverra
          accumsan in nisl.
        </div>
      </div>
      <div class="message-compact">
        <p class="message-time">1:23 PM</p>
        <div class="message-text">
          <p class="message-name">charlie 🌳🛶</p>
          Please press the "New Message" icon in the top left to send me an email, or click the Huddles
          icon in the bottom left to call my cell. I look forward to meeting you soon!
        </div>
      </div>
    </div>
  </body>

</html>