<!DOCTYPE html>

<html>

    <body>
        <div class="message-group-label-wrapper">
            <div class="message-group-label">Work Style</div>
        </div>
        <div class="message-group">
            <div class="message-clean">
                <img class="message-pic" src="./images/me.png" />
                <div class="message-text">
                    <p class="message-name">Charlie Bushrow</p>
                    <p class="message-time">1:31 PM</p><br />
                    I work most effectively when I have a clear picture of what needs doing. For that reason, I really
                    like to have checklists and backlogs, and generally work in a more scrum-style/agile project
                    management environment.
                </div>
            </div>
            <div class="message-clean">
                <img class="message-pic" src="./images/me.png" />
                <div class="message-text">
                    <p class="message-name">Charlie Bushrow</p>
                    <p class="message-time">1:31 PM</p><br />
                    I also prefer to work on a team. Having even just one other person to bounce ideas off of and
                    discuss thoughts with makes all the difference.
                </div>
            </div>
        </div>

        <div class="message-group-label-wrapper">
            <div class="message-group-label">Motivators</div>
        </div>
        <div class="message-group">
            <div class="message-clean">
                <img class="message-pic" src="./images/me.png" />
                <div class="message-text">
                    <p class="message-name">Charlie Bushrow</p>
                    <p class="message-time">1:32 PM</p><br />
                    A major motivator for me is impact. It pushes me to go the extra mile when I know that my effort is
                    going to make a measurable difference in some outcome that matters.
                </div>
            </div>
            <div class="message-clean">
                <img class="message-pic" src="./images/me.png" />
                <div class="message-text">
                    <p class="message-name">Charlie Bushrow</p>
                    <p class="message-time">1:33 PM</p><br />
                    Flexibility is another one that motivates me to work harder. If I can choose the hours and the
                    location I work from, I feel not just happier and more at ease, but more productive as well.
                </div>
            </div>
        </div>
    </body>

</html>