<!DOCTYPE html>

<html>

    <body>
        <div class="message-group-label-wrapper">
            <div class="message-group-label">Interests</div>
        </div>
        <div class="message-group">
            <div class="message-clean">
                <img class="message-pic" src="./images/snowboard.png" />
                <div class="message-text">
                    <p class="message-name">Snowboarding</p>
                    <p class="message-time">1:35 PM</p><br />
                    Any opportunity I get, I'm on the mountain. I started working as an instructor at
                    Wintergreen during highschool, and we even had a ski and snowboard club that would go up after
                    school every wednesday during winter. More recently it's been hard to find time to go frequently,
                    but this year I have a trip to Big Sky planned.
                </div>
            </div>
            <div class="message-clean">
                <img class="message-pic" src="./images/snowboard.png" />
                <div class="message-text">
                    <p class="message-name">Snowboarding</p>
                    <p class="message-time">1:36 PM</p><br />
                    <img width="30%"
                        src="https://media4.giphy.com/media/64jkJBwQL1cYfDwkOc/giphy.gif?cid=790b7611f3a87327277e7a7cb9ca2ec1e9e2c1685d33e660&rid=giphy.gif&ct=g" />
                </div>
            </div>
            <div class="message-clean">
                <img class="message-pic" src="./images/hiking.png" />
                <div class="message-text">
                    <p class="message-name">Hiking</p>
                    <p class="message-time">1:38 PM</p><br />
                    I really enjoy hiking in my free time. ⛰️ I've gotten to do some pretty cool hikes over the past
                    few years: Clouds Rest in Yosemite, CA; Lauterbrunen to Mannlichen in Switzerland; and Path of
                    the Gods in the Amalfi Coast, to name a few!
                </div>
            </div>
        </div>

        <div class="message-group-label-wrapper">
            <div class="message-group-label">Recent Events</div>
        </div>
        <div class="message-group">
            <div class="message-clean">
                <img class="message-pic" src="./images/marriage.png" />
                <div class="message-text">
                    <p class="message-name">I Just Got Married</p>
                    <p class="message-time">1:40 PM</p><br />
                    My wife Sydney and I met in school at Virginia Tech six years ago, and we finally tied the knot in
                    October, 2021! 🍾 🥳 We got married at a beautiful venue in Leesburg, VA called Riverside on the
                    Potomac.
                </div>
            </div>
            <div class="message-clean">
                <img class="message-pic" src="./images/marriage.png" />
                <div class="message-text">
                    <p class="message-name">I Just Got Married</p>
                    <p class="message-time">1:41 PM</p><br />
                    <img width="45%"
                        src="https://media2.giphy.com/media/CMrWv83j6Kfio/giphy.gif?cid=790b76112ca22c34a9cca2abd7ad09000c87ee99d93a33a8&rid=giphy.gif&ct=g" />
                </div>
            </div>
            <div class="message-clean">
                <img class="message-pic" src="./images/honeymoon.jpg" />
                <div class="message-text">
                    <p class="message-name">Honeymoon 🌴</p>
                    <p class="message-time">1:41 PM</p><br />
                    We took some much needed time off and explored Santorini, Greece and Praiano, Italy. Highly
                    recommend both!
                </div>
            </div>
        </div>
    </body>

</html>