<!DOCTYPE html>

<html>

    <body>
        <div class="message-group-label-wrapper">
            <div class="message-group-label">Work Experience</div>
        </div>
        <div class="message-group">
            <div class="message-clean">
                <img class="message-pic" src="./images/booz.png" />
                <div class="message-text">
                    <p class="message-name">Booz Allen Hamilton - Lead Data Scientist</p>
                    <p class="message-time">07/2018 - Present</p><br />
                    Clean, visualize and leverage data to empower clients and strengthen decision making processes.
                    Develop pipelines and apply machine learning techniques to simplify workflows and expand the power
                    of existing data.<br />
                    <ul>
                        <li>Perform pipelining and automation of manual process, and translate legacy tools built in
                            Excel/VBA into cloud-based web applications built in Python</li>
                        <li>Develop user interfaces to validate and verify the data transformations occurring in
                            pipelines and initiate subsequent processes</li>
                        <li>Lead the development of computer vision models spanning image classification, object
                            detection, and semantic segmentation using FastAI</li>
                        <li>Develop modelling and simulation tools in AnyLogic/Java to provide clients with a single
                            tool to predict the outcome of projected upcoming scenarios</li>
                        <li>Facilitate team collaboration and monitor tasking through JIRA, using Scrum and Agile
                            methodology</li>
                        <li>Create PowerShell/Bash Scripts to automate daily tasks and for cost savings through manual
                            automation</li>
                        <li>Maintain GitHub repositories for server tools and code/scripts that are used by various
                            teams
                        <li>Provide subject matter expertise for development and facilitation/instruction of a series of
                            data literacy courses</li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="message-group-label-wrapper">
            <div class="message-group-label">Skills and Certifications</div>
        </div>
        <div class="message-group">
            <div class="message-clean">
                <img class="message-pic" src="./images/cs.png" />
                <div class="message-text">
                    <p class="message-name">Skills</p>
                    <br />
                    <div>
                        <table class="skills-certs">
                            <tr>
                                <td>
                                    <li>Python</li>
                                </td>
                                <td>
                                    <li>MS SQL</li>
                                </td>
                                <td>
                                    <li>HTML/CSS/JS</li>
                                </td>
                                <td>
                                    <li>Azure/AWS</li>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <li>VBA</li>
                                </td>
                                <td>
                                    <li>Git/SVN</li>
                                </td>
                                <td>
                                    <li>Java</li>
                                </td>
                                <td>
                                    <li>Powershell/Bash</li>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <li>SQLite3</li>
                                </td>
                                <td>
                                    <li>R</li>
                                </td>
                                <td>
                                    <li>Tableau</li>
                                </td>
                                <td>
                                    <li>Microsoft Office</li>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="message-clean">
                <img class="message-pic" src="./images/cert.png" />
                <div class="message-text">
                    <p class="message-name">Certifications</p>
                    <br />
                    <div>
                        <table class="skills-certs">
                            <tr>
                                <td>
                                    <li>Microsoft Azure Fundamentals</li>
                                </td>
                                <td>
                                    <li>ICAgile Certified Professional</li>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <li>IBM Data Science Professional</li>
                                </td>
                                <td>
                                    <li>DoD TS/SCI Clearance</li>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="message-group-label-wrapper">
            <div class="message-group-label">Education</div>
        </div>
        <div class="message-group">
            <div class="message-clean">
                <img class="message-pic" src="./images/gt.jpg" />
                <div class="message-text">
                    <p class="message-name">Georgia Institute of Technology</p>
                    <p class="message-time">01/2020 - 12/2022</p><br />
                    M.S. in Analytics <i>(in progress)</i>
                </div>
            </div>
            <div class="message-clean">
                <img class="message-pic" src="./images/vt.jpg" />
                <div class="message-text">
                    <p class="message-name">Virginia Polytechnic Institute and State University (Virginia Tech)</p>
                    <p class="message-time">08/2013 - 05/2018</p><br />
                    B.S. in Industrial & Systems Engineering; minors in Business and Psychology
                </div>
            </div>
        </div>
    </body>

</html>