<!DOCTYPE html>

<html>

  <body>
    <div class="message-group-label-wrapper">
      <div class="message-group-label">Work Experience</div>
    </div>
    <div class="message-group">
      <div class="message-clean">
        <img class="message-pic" src="./images/booz.png" />
        <div class="message-text">
          <p class="message-name">Booz Allen Hamilton - Lead Data Scientist</p>
          <p class="message-time">07/2018 - Present</p><br />
          Empowered clients to succeed in mission-critical operations and strengthened decision-making
          processes by leveraging data. Created tools, developed pipelines and applied machine learning
          techniques to simplify workflows and expand the power of available data.<br /><br />

          Client Impact
          <ul>
            <li>Responsible for monthly aggregation and analysis of global flight data for the United States
              Air Force representing $8 billion in defense resource allocation annually</li>
            <li>Determined and effectively communicated the viability of $500 million reallocation of defense
              funding by performing sensitivity analysis and downstream impact analysis, then organizing
              findings into a cogent argument in support of the decision</li>
            <li>Delivered analytical findings to clients and presented storyboards that explain the insights
              and best courses of action gleaned from the results
            </li>
          </ul>
          Machine Learning Development<br />
          <ul>
            <li>Derived features in historical Air Force data, performed feature selection, then trained,
              tested, and selected machine learning models for predictive and descriptive analyses of global
              force readiness</li>
            <li>Led development of computer vision models spanning classification, object detection, and
              semantic segmentation using Fast.ai and PyTorch
            </li>
            <li>Increased accuracy from 73% to 98% for aircraft image classification model with 20+ disparate
              categories by training on varied perspectives, skews, and lightings</li>
            <li>Deployed trained computer vision models and designed web application that allowed for upload
              of images and interaction with models</li>
          </ul>
          Technical Modernization Efforts<br />
          <ul>
            <li>Developed a pipeline in Python to automate ingestion, cleaning, and visualization of a data
              feed, reducing process time by 98% and creating three days per month of time savings, while also
              increasing accuracy and reliability</li>
            <li>Ported legacy Excel tools and VBA into Python scripts and dashboards, then deployed to a cloud
              solution, expanding access and availability for analysis team</li>
            <li>Provided subject matter expertise for the development and delivery of data science courses
              taught to 1500+ federal employees as a key piece of the IC agency's modernization effort</li>
            <li>Facilitated team collaboration and monitored tasking through JIRA, using Scrum and Agile
              methodology</li>
            <li>Maintained GitHub repositories for tools and code/scripts that are used by various teams</li>
          </ul>

        </div>
      </div>
    </div>

    <div class="message-group-label-wrapper">
      <div class="message-group-label">Skills and Certifications</div>
    </div>
    <div class="message-group">
      <div class="message-clean">
        <img class="message-pic" src="./images/cs.png" />
        <div class="message-text">
          <p class="message-name">Skills</p>
          <br />
          <div>
            <table class="skills-certs">
              <tr>
                <td>
                  <li>Python</li>
                </td>
                <td>
                  <li>MS SQL</li>
                </td>
                <td>
                  <li>HTML/CSS/JS</li>
                </td>
                <td>
                  <li>Azure/AWS</li>
                </td>
              </tr>
              <tr>
                <td>
                  <li>VBA</li>
                </td>
                <td>
                  <li>Git/SVN</li>
                </td>
                <td>
                  <li>Java</li>
                </td>
                <td>
                  <li>Powershell/Bash</li>
                </td>
              </tr>
              <tr>
                <td>
                  <li>SQLite3</li>
                </td>
                <td>
                  <li>R</li>
                </td>
                <td>
                  <li>Tableau</li>
                </td>
                <td>
                  <li>Microsoft Office</li>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="message-clean">
        <img class="message-pic" src="./images/cert.png" />
        <div class="message-text">
          <p class="message-name">Certifications</p>
          <br />
          <div>
            <table class="skills-certs">
              <tr>
                <td>
                  <li>Microsoft Azure Fundamentals</li>
                </td>
                <td>
                  <li>ICAgile Certified Professional</li>
                </td>
                <td>
                  <li>IBM Data Science Professional</li>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="message-group-label-wrapper">
      <div class="message-group-label">Education</div>
    </div>
    <div class="message-group">
      <div class="message-clean">
        <img class="message-pic" src="./images/gt.jpg" />
        <div class="message-text">
          <p class="message-name">Georgia Institute of Technology</p>
          <p class="message-time">01/2020 - 12/2022</p><br />
          M.S. in Analytics <i>(in progress)</i>
        </div>
      </div>
      <div class="message-clean">
        <img class="message-pic" src="./images/vt.jpg" />
        <div class="message-text">
          <p class="message-name">Virginia Polytechnic Institute and State University (Virginia Tech)</p>
          <p class="message-time">08/2013 - 05/2018</p><br />
          B.S. in Industrial & Systems Engineering; minors in Business and Psychology
        </div>
      </div>
    </div>
  </body>

</html>