<!DOCTYPE html>

<html>

    <body>
        <div class="message-group-label-wrapper">
            <div class="message-group-label">Saturday, December 4th</div>
        </div>
        <div class="message-group">
            <div class="message-compact">
                <p class="message-time">1:12 PM</p>
                <div class="message-text">
                    <p class="message-name">charlie 🌳🛶</p>
                    Hi! I put this together to introduce myself and hopefully schedule an interview. I think this format 
                    better captures my creativity and demonstrates the effort I put into my projects. Take a look through
                    the "Reasons to Hire Me" section on the left!
                </div>
            </div>
    </body>

</html>